.footer-static{
        position: fixed;
        right: 0;
        height: 50px;
        bottom: 0px;
        margin-bottom: 0px;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
	width: auto;
	color: #FFFFFF;
}

body{
        margin-bottom: 55px;
}
