.name{
        margin-left: 10vw;
}

.events{
	width: 49vw;
	min-width: 200px;
	left: 0;
	float: left;
	margin: auto;
}

.evnt{
	margin-left: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-right: 1vw;
}
.dep{
	margin-left: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-right: 1vw;
}

.dependencies{
	width : 49vw;
	min-width: 200px;
	right: 0px;
	float: right;
	margin: auto;
}

.status{
	min-width: 100vw;
}

body{

}
