.name{
        margin-left: 10vw;
}

.events{
	width: 50%;
	left: 0px;
	float: left;
}

.evnt{
	margin-left: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-right: 1vw;
}
.dep{
	margin-left: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-right: 1vw;
}

.dependencies{
	width : 50%;
	right: 0px;
	float: right;
	
}

.main_content{
	display: flex;
}
