.name{
        margin-left: 10vw;
}

.events{
        margin-left: 9vw;
	max-width : 41vw;
	width: 40;
}

.evnt{
	margin-left: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-right: 1vw;
}

.dependencies{
	margin-right: 9vw;
	max-width : 41vw;
	width : 40;
}
